<%= render partial: "rapidfire/answers/errors", locals: { answer: answer } %>
<div class="form-group">
  <strong>
    <div class="icon-text">
      <span class="icon has-text">
        <i class="fas fa-lg fa-question-circle"></i>
      </span>
      <span>
        <%= f.label :answer_text, answer.question.question_text.html_safe %>
      </span>
    </div>
  </strong>
  <br/>
  <%= f.text_field :answer_text %>
</div>
