
<div class="card article">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Article title</p>
        <p class="subtitle is-6">Subtitle</p>
      </div>
    </div>

    <div class="content">
      <!-- Article content -->
    </div>
  </div>
</div>
