
<div class="card article">
  <div class="card-content">
    <div class="content">
      <h2 class="article-title">
        Your Journey
      </h2>
      <p>

      </p>
      <div class="timeline">
        <header class="timeline-header">
          <span class="tag is-medium is-primary">Start</span>
        </header>

        <% @workflow.workflow_steps.each do |step| %>
          <div class="timeline-item">
            <!-- TODO wann finished? -->
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <p class="heading"> <%= step.title %> </p>
              <p>
                <%= step.description %>
              </p>
              <% step.surveys.each do |attempt| %>
                <p>
                  <%= link_to attempt.survey.name,
                              "/rapidfire/surveys/#{attempt.survey.id}/attempts/new?workflow_step_id=#{step.id}",
                              class: "button" %>
                </p>
              <% end %>
            </div>
          </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
