
<!-- START ARTICLE -->
<div class="card article">
  <div class="card-content">
    <div class="media">
      <div class="media-center">
        <img src="<%= image_url 'tobias2.png' %>" class="author-image" alt="Placeholder image">
      </div>
      <div class="media-content has-text-centered" style="margin-top:70px">
        <p class="title article-title">Who am I?</p>
      </div>
    </div>
    <div class="content article-body">
      <p>
        As the CTO at Münch Gesellschaft für IT-Solutions mbH (MITS), I oversee our technology stack, powering tailored solutions in finance and veterinary medicine. My role allows me to stay hands-on, working closely with our team to ensure our tech is as innovative and effective as possible.
      </p>
      <p>
        Currently, I’m pursuing a PhD at TU Chemnitz under Prof. Martin Gaedke, focusing on transforming conversational voice user interfaces with a brownfield approach. Part of this research involves developing a portal that enables both quantitative and qualitative assessment of developer experience through a programming exercise. This portal merges software engineering, programming psychology, and cognitive science, aiming to capture deeper insights into developer interaction and interface usability. By making these experiences measurable, I hope to open new doors for creating more intuitive, voice-driven interactions within complex software applications.
      </p>
    </div>
  </div>
</div>
<!-- END ARTICLE -->