<div class="card article">
  <div class="card-content">
    <h2 class="article-title">
      Impressum
    </h2>
    <p>
      Münch Gesellschaft für IT-Solutions mbH<br/>
      Gewerbering 1<br/>
      49393 Lohne
    </p>
    <hr>
    <p>
      Vertreten durch:<br/>
      Dipl.-Wirt.-Inform. (FH) Karsten Münch
    </p>
    <hr>
    <p>
      Kontakt:<br/>
      Telefon: 04442 92340<br/>
      Telefax: 04442 923499<br/>
      E-Mail: info@muench-its.de
    </p>
    <hr>
    <p>
      Registereintrag:<br/>
      Eintragung im Handelsregister.<br/>
      Registergericht: Oldenburg<br/>
      Registernummer: HRB 112104
    </p>
    <hr>
    <p>
      Umsatzsteuer:<br/>
      Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:
      DE232403512
    </p>
    <hr>
    <p>
      Inhaltlich Verantwortlicher i.S.d. § 18 Abs. 2 MStV:<br/>
      Tobias Münch, M. Sc.<br/>
      c/o Münch Gesellschaft für IT-Solutions mbH<br/>
      Gewerbering 1<br/>
      49393 Lohne
    </p>
    <hr>
    <p>
      Datenschutz<br/>
      Datenschutzbeauftrager: Dr. Uwe Nolte, Dr. Nolte Datenschutz & QM, Am Ziegelteich 44b, 22525 Hamburg<br/>
      dataprivacy@muench-its.de
    </p>
    <hr/>

    <p>
    Haftung für Inhalte<br/>
    Als Diensteanbieter sind wir gemäß §7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich. Nach §§8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
    gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
    Tätigkeit hinweisen.
    </p>

    <p>
    Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben
    hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten
    Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
    entfernen.
    </p>
    <hr/>

    <p>
    Urheberrecht<br/>
    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht.
    Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes
    bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind
    nur für den privaten, nicht kommerziellen Gebrauch gestattet.
    </p>
    <p>
    Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet.
    Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
    aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir
    derartige Inhalte umgehend entfernen.
    </p>

  </div>
</div>