
  <!-- START ARTICLE -->
  <div class="card article">
    <div class="card-content">
      <div class="media">
        <div class="media-content has-text-centered">
          <p class="title article-title">Abstract</p>
        </div>
      </div>
      <div class="content article-body">
        <p>Nowadays, the software economy delivers digital business value for humans on various platforms with several purposes. To match the high expectations of the customer base, developers often use third-party open-source libraries to solve various functionalities quickly and effortlessly. An adequate developer experience (DevEx) is crucial to achieving the developer's flow state and high intrinsic motivation, so the implementation is straightforward.
          However, little research exists about the methodology for measuring library DevEx, particularly the combination of quantitative measurement methods, such as code metrics, and qualitative measurement methods, such as the Intrinsic Motivation Inventory (IMI), Short Dispositional Flow Scale (SDFS), and the Developer Experience Scale (DEXI).
          Our paper unites both methodologies and connects them to the psychology of programming to build a potent combination for objective measurement through a user study in the natural developers' workplaces, such as home office, and code metrics. The test results underline the significant usage with industry developers, which solved a knowledge-lean and well-defined problem in web development.
          The reusable and published toolset is created to carry out study and code metrics results in a reproducible way and present them compactly so researchers can use and verify our approach.
          Our outcome will help open-source publishers maintain an adequate developer experience for their packages.</p>
      </div>
    </div>
  </div>
  <!-- END ARTICLE -->

<%= link_to 'Sign in', new_user_session_path %>