<!-- START ARTICLE -->
<div class="card article">
  <div class="card-content">
    <div class="media">
      <div class="media-content has-text-centered">
        <p class="title article-title">Abstract</p>
      </div>
    </div>
    <div class="content article-body">
      <p>Nowadays, the software economy delivers digital business value for humans on various platforms with several
        purposes. To match the high expectations of the customer base, developers often use third-party open-source
        libraries to solve various functionalities quickly and effortlessly. An adequate developer experience (DevEx) is
        crucial to achieving the developer's flow state and high intrinsic motivation, so the implementation is
        straightforward.
        However, little research exists about the methodology for measuring library DevEx, particularly the combination
        of quantitative measurement methods, such as code metrics, and qualitative measurement methods, such as the
        Intrinsic Motivation Inventory (IMI), Short Dispositional Flow Scale (SDFS), and the Developer Experience Scale
        (DEXI).
        Our paper unites both methodologies and connects them to the psychology of programming to build a potent
        combination for objective measurement through a user study in the natural developers' workplaces, such as home
        office, and code metrics. The test results underline the significant usage with industry developers, which
        solved a knowledge-lean and well-defined problem in web development.
        The reusable and published toolset is created to carry out study and code metrics results in a reproducible way
        and present them compactly so researchers can use and verify our approach.
        Our outcome will help open-source publishers maintain an adequate developer experience for their packages.</p>
    </div>
  </div>
</div>
<!-- END ARTICLE -->


<div class="card article">
  <div class="card-content">
    <h2 class="article-title">
      Survey Procedure
    </h2>

    <div class="timeline is-centered">
      <header class="timeline-header">
        <span class="tag is-medium is-primary">Start</span>
      </header>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Registration of participant </p>
          <p>Demographic questionary</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Identify skill level </p>
          <p>Skill questionary</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Determine base motivation level </p>
          <p>(IMI, SDFS)</p>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-primary">1st Task Round</span>
      </header>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Presentation of the first Task </p>
          <p>(start time)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Participant working unsupervised</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Push of source code</p>
          <p> (end time, code metrics)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Determine motivation level</p>
          <p> (IMI, SDFS)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Determine Developer Experience</p>
          <p> (DEXI)</p>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-primary">2nd Task Round</span>
      </header>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Presentation of the second Task</p>
          <p> (start time)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Participant working unsupervised</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Push of source code</p>
          <p> (end time, code metrics)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Determine motivation level</p>
          <p> (IMI, SDFS)</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Determine Developer Experience</p>
          <p> (DEXI)</p>
        </div>
      </div>

      <header class="timeline-header">
        <span class="tag is-primary"> Final Steps </span>
      </header>

      <div class="timeline-item">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <p class="heading">Qualitative Feedback about the study</p>
          <p> (feedback form)</p>
        </div>
      </div>
      <div class="timeline-header">
        <span class="tag is-medium is-primary">End</span>
      </div>
    </div>
  </div>
</div>


<div class="card article">
  <div class="card-content">
    <a href="" class="button is-primary is-fullwidth">Start Survey</a>
  </div>
</div>

<!--
<%= link_to 'Sign in', new_user_session_path %>
-->